<div>
    <b>Задание:</b><br>
    <p>
        Сделать приложение, позволяющее искать фильмы, добавлять игх в список и удалять из него.
        Для поиска фильмов использовать API www.omdbapi.com или любое другое. Кликнув на любой фильм из списка,
        можно перейти на страницу с подробной информацией об этом фильме. Обязательные требования: - TypeScript; -
        Angular 5. Плюсом будет (также нужно выполнить): - Реализовать поиск автокомплитом; - Сохранять список на
        клиенте; - Использовать Angular Material.
    </p>
    <p>
        Исходники: <a href="https://github.com/NeoSimvolist/films.test" target="_blank">https://github.com/NeoSimvolist/films.test</a>
    </p>
</div>
<router-outlet></router-outlet>